.summary {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.coinImage {
  width: 18px;
  height: 18px;
}

.coinName {
  color: var(--primary-text-color);
  font-weight: 700;
}

.coinSymbol {
  text-transform: uppercase;
}

.priceRise {
  color: var(--growth-color);
}

.priceDrop {
  color: var(--decline-color);
}
