:root {
  --header-bg: #343a40;
  --bg-color: #121212;
  --primary-text-color: #fff;
  --secondary-text-color: #9b9b9b;
  --growth-color: #8dc647;
  --decline-color: #e15241;
  --border: 1px solid #636363;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg-color);
  color: var(--secondary-text-color);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
  color: var(--primary-text-color);
}
