.row {
  display: grid;
  grid-template-columns: var(--columns-template);
  grid-template-rows: auto;
  box-sizing: border-box;
  padding: 15px;
  border-bottom: var(--border);
}

.cell {
  display: flex;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (max-width: 767px) {
  .row {
    grid-template-columns: 1fr;
    grid-template-rows: min-content;
  }

  .cell {
    justify-content: center;
    margin-bottom: 5px;
  }
}
